In [ ]:
# We use Pandas for Data Science , Data Analytics and Machine Learning , it is a library of python based on numpy
# is for panel data , series : list and Data frame is any 2dimensional table

In [1]:
# we will import pandas
import pandas as pd

In [2]:
#you can install this by pip install pandas 
print(pd.__version__) #here 2 underscores

2.2.3

In [4]:
#series is one dimensional labelled array  : single list indexed by a label
data = [100,102,104] #convert into series

series = pd.Series(data) # this is a constructor and not a function
print(series)
#all data is now a columnar list with the index at the left hand side

0    100
1    102
2    104
dtype: int64

In [5]:
data = [1.5,1.6,1.7]
series = pd.Series(data) # this is a constructor and not a function
print(series)

0    1.5
1    1.6
2    1.7
dtype: float64

In [6]:
data = ['a','e','i','o','u']
series = pd.Series(data) # this is a constructor and not a function
print(series)

0    a
1    e
2    i
3    o
4    u
dtype: object

In [7]:
data = [True,False,True]
series = pd.Series(data) # this is a constructor and not a function
print(series)

0     True
1    False
2     True
dtype: bool

In [8]:
#The index begins from 0 by default
data = ['a','e','i','o','u']
series = pd.Series(data,index=["1","2","3","4","5"]) # we can set the labels as a list , tuple ,series
print(series)

1    a
2    e
3    i
4    o
5    u
dtype: object

In [10]:
print(series.loc["1"]) # return the value when the label is 1 , get a key error when the label is absent in series.

a

In [11]:
# we are locating a value through the label, since all the index values are int type, we will use iloc in place of loc
print(series.iloc[0])

a

In [15]:
#filtering : give me the house number where the number is greater than or equal to 2
data = [1,2,3,4,5]
series = pd.Series(data,index=["House #1","House #2","House #3","House #4","House #5"]) 
print(series[series>=2])

House #2    2
House #3    3
House #4    4
House #5    5
dtype: int64

In [30]:
#using the dictionary
calories= {
           "Day1":1750,
           "Day2":2100,
           "Day3":1700} #all the keys become the labels
series = pd.Series(calories)
print(series)

Day1    1750
Day2    2100
Day3    1700
dtype: int64

In [31]:
# to add the values:
series.loc["Day3"] += 500
print(series.loc["Day3"], "(+500) You ate a cookie .")

2200 (+500) You ate a cookie .

In [33]:
#filter by value : when you did not stick to your diet (means calories exceeded 2000 calories)
print(series[series >= 2000])

Day2    2100
Day3    2200
dtype: int64