In [2]:
# Day 1 : FDP Python  [All important codes ]

In [3]:
#Python is more near to natural human language.

In [4]:
# For setup , I am using Jupyter Notebook / can use Google Collab

In [5]:
# The code will be uploaded to my Github as Python-Fundamentals

In [6]:
#Basic Syntax and data

In [9]:
# anything begins with # is a comment (For explainig the code)
x=34 #integer type value
y='Hello' # string type value
z=3.45 # float type value
print(x)
print(y)
print(z)
#printing the value of the above results

34
Hello
3.45

In [12]:
#concatenation with a string
y = "Hello "
z = "World"
print(y+z)

Hello World

In [13]:
#concatenation eg. 2
'4'+'5'

'45'

In [15]:
# Datatypes of value
type(x)

int

In [17]:
price = 1.99
type(price)

float

In [1]:
list1 = ["python","python Data Science", "Python for AI ", "Python for opencv"]
type(list1)

list

In [2]:
#list is value changable on the basis of the index

In [3]:
# to add the single quote in the double quotes
"Aayush's Pen"

"Aayush's Pen"

In [4]:
coordinates=(10,30)
print(coordinates[0])
print(coordinates[1])
print(type(coordinates))

10
30
<class 'tuple'>

In [5]:
# print the range of the values
range(0,5)

range(0, 5)

In [6]:
numbers = range(0,5) # it will return a list to the numbers
print(numbers)
print(type(numbers))

range(0, 5)
<class 'range'>

In [9]:
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])

0
1
2
3
4

In [11]:
#making a dictionary
person={"name":"bob",
        "age":25}
print(person)
#to change the name:
person['name']="Aayush"
print(person)

{'name': 'bob', 'age': 25}
{'name': 'Aayush', 'age': 25}

In [12]:
set1= {1,2,3}
print(set1)
print(type(set1))

{1, 2, 3}
<class 'set'>

In [14]:
# frozen set is made from a list
# it is immutable
# Still we can perform the operations of set on that

fs = frozenset([1,2,3,4])
print(fs)
print(type(fs))

#we can make a frozen set from a set 
s = {1,2,3,4,5,6,7,8,9,10}
fs2 = frozenset(s)
print(fs2)

frozenset({1, 2, 3, 4})
<class 'frozenset'>
frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

In [15]:
# bytes data is the immutable sequences of bytes
bt = b'20'
print(bt)
print(type(bt))

b'20'
<class 'bytes'>

In [16]:
# byte array is the mutable sequence of the bytes
bta = bytearray(bt)
print(bta)

bytearray(b'20')

In [17]:
# escape sequences begin with a back slash \
print("line1 \nline2")

line1
line2

In [18]:
print("line1\tline2")

line1	line2

In [20]:
# insert apostrophe or double quotes
print("\' \"")

' "

In [21]:
# type casting will do the conversion of 1 data type to another
print(4+int('7'))

11

In [22]:
#implicit type casting: auto conversion
4+4.5

8.5

In [23]:
#explicit type casting will be forcing
a = 4 + 4.5
print(a)
type(a)
a= int(a)
print(a)
type(a)

8.5
8

int

In [24]:
# taking the user input :
name= input("Enter your name :")
print("Hello ,", name," Sir !")

Enter your name : Aayush

Hello , Aayush  Sir !

In [25]:
age = int(input("Enter your age :"))
print("Your age is",age)

Enter your age : 21

Your age is 21

In [27]:
#same mathematical operations just like the other programming languages
5//2 #integer divide
25%6 #Remainder divide
4**3 #exponentiation

64

In [28]:
# augmented operations
a=10
a+=5
print(a)

15

In [29]:
#multiple assignments
x=y=z=10
print(x," ",y," "," ",z)

10   10     10

In [ ]:
# Bitwise operations
#& and
#| or
#^ xor
#~ not

In [33]:
# functions of strings
s1="good"
print(s1)
print(s1.capitalize())
print(s1.count('o'))
print(s1.endswith('d'))

good
Good
2
True